NEXT_PUBLIC_SERVER_URL=http://localhost:3000
RECIPIENT_EMAIL= # for mailing yourself about something
JWT_SECRET= # generate using openssl rand -base64 64. keep it same as server
BETTER_AUTH_SECRET= # generate using openssl rand -base64 64. Keep it same as server
BETTER_AUTH_URL=http://localhost:3001
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DATABASE_URL=
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3001
BETTER_AUTH_URL=http://localhost:3001
USER_EMAIL_ALIAS=
USER_EMAIL_PASS= # check how to create app passwords: https://support.google.com/accounts/answer/185833?hl=en
USER_EMAIL=