NEXT_PUBLIC_SERVER_URL=http://localhost:3000
USER_EMAIL='user1@gmail.com' # mail as a sender
RECIPIENT_EMAIL='user2@gmail.com' # mail as a receiver
USER_EMAIL_PASS='' # sender mail password. go to google account and create App Password. for more: https://support.google.com/accounts/answer/185833?hl=en
JWT_SECRET= # generate using openssl rand -base64 12. keep it same as server **important**